*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $FONT;
    background: #F9F9F9;
}

a {
    text-decoration: none;
   }
   

// HERO
.home{
    height: 100vh;
    border: 1px solid lightblue;
    // scroll-snap-type: y mandatory;
    // overflow-y: scroll;
    @include respond(tab-port){
        scroll-snap-type: unset;
        overflow-y: unset;
    }
    
.hero {
    // scroll-snap-align: start;
    height: 80vh;
    width: 100%;
    background: $HERO_COLOR;
    background-position: center;
    display: flex;
    // @include respond(tab-land){
    //     height: 50vh;
    //     background: $HERO_COLOR_H;
          
    // }
    @include respond(tab-port){
        height: 70vh;
        background: $HERO_COLOR_H;
          
    }
    @include respond(sm-phone){
        height: 80vh;

    }
   

    .hero-txt {
        padding: 150px 150px;
        @include respond(tab-port){
            padding: 50px 60px ; 
        }
        // @include respond(tab-land){
        //     padding: 150px 60px ; 
        // }

        h1 {
            font-size: 70px;
            font-weight: bold;
            color: $SECONDARY_COLOR;
            animation-name: bounce;
            animation-duration: 2s;
            @include respond(tab-port){
                color: $SECONDARY_COLOR;
                font-size: 45px;
            }
            // @include respond(tab-land){
            //     color: $SECONDARY_COLOR;
            //     font-size: 45px;
            // }
           

        }

        p {
            max-width: 400px;
            font-size: 20px;
            font-weight:lighter;
            color: #fff;
            padding-top: 30px;
            @include respond (tab-port){
                padding-top: 20px;
                font-size: 15px;
            }
            // @include respond (tab-land){
            //     padding-top: 20px;
            //     font-size: 15px;
            // }
        }

        

    }

    .img-area {
        width: 19.334em;
        height: 20.67em;
        border: 0.115rem solid #fff;
        box-sizing: border-box;
        margin-block-start: 6em;
        margin-inline-start: 100px;
        // @include respond(tab-port){
        //     position:absolute;
        //     top: 450px;
        //     left: 60px;
        //     width: 15em;
        //     height: 15em;

        // }

        // @include respond(tab-land){
        //     position:absolute;
        //     top: 150px;
        //     left: 360px;
        //     width: 14em;
        //     height: 14em;

        // }
        // @include respond(sm-phone){
        //     position:absolute;
        //     top: 260px;
        //     left: 30px;
        //     width: 9.334em;
        //     height: 9.67em;

        // }

        @include respond(phone){
            position:absolute;
            float: inline-end;
            top: 400px;
            left: 30px;
            width: 9.334em;
            height: 9.67em;

        }

        .header-image {
            max-width: 500px;
            width: inherit;
            display: block;
            height: inherit;
            margin-top: -2.435em;
            background-color: #fff;
            background-size: cover;
            background-position-x: center;
            margin-left: -2.2em;
            background-image: url(/assets/nas.JPG);
            @include respond(tab-port){
                margin-left: -1em;
                margin-top: -1em;
    
            }

        }
       
    }
    
   
}
.border{
    border-bottom: 10px solid rgb(127, 167, 190);
}
// HERO-END


//  ABOUT
    .about {
        height: 100vh;
        max-width: 100%;
        padding: 150px;
        @include respond(tab-port){
            width: 100%;
            padding: 60px;
            height: 70vh;
        }
        // @include respond(tab-land){
        //     width: 100%;
        //     padding: 70px;
        //     height: 50vh;
        // }

        .left{
            width: 500px;
            padding-bottom: 100px;
            animation-name: fromleft;
            animation-duration: 4s;
            position: relative;
            @include respond(tab-port){
                width: 100%;
                padding-top: 40px;
                padding-bottom: 100px;
            }
            // @include respond(tab-land){
            //     width: 50%;
            //     padding-top: 10px;
            //     padding-bottom: 100px;
            // }
            #padding-right{
                width: 10%;
                float: right;
            }

            h2{
                
                font-size: 70px;
                color: $PRIMARY_COLOR;
                @include respond(tab-port){
                    font-size: 40px;
                }
                // @include respond(tab-land){
                //     font-size: 30px;
                // }
            }

            p{
                text-align: justify;
                padding-top: 10px;
                @include respond(tab-port){
                    font-size: 13px;
                }
                // @include respond(tab-land){
                //     font-size: 10px;
                // }

            }

        }
#padding-design{
            width: 10%;
            opacity: 0.5;

}
#padding-designx{
            float: right;
            width: 10%;
            opacity: 0.5;

}
        .right{
            text-align: right;
            animation-name: fromright;
            animation-duration: 4s;
            position: relative;
            @include respond(tab-port){
                width: 100%;
                text-align: center;
            }
            // @include respond(tab-land){
            //     width: 100%;
            //     text-align: right;
            // }

            #padding-right{
                width: 5%;
                float: right;
            }

            h2{
                padding-right: 100px;
                font-size: 70px;
                color: $PRIMARY_COLOR;
                @include respond(tab-port){
                    font-size: 40px;
                }
                // @include respond(tab-land){
                //     font-size: 30px;
                // }
            }

            p{
                width: 500px;
                float: right;
                text-align: right;
                text-align: justify;
                padding-top: 10px;
                @include respond(tab-port){
                    width: 100%;
                    font-size: 13px;
                }
                // @include respond(tab-land){
                //     width: 50%;
                //     font-size: 10px;
                // }
            }
            

        }
    
    }
    // ABOUT-END

// EXPERIENCE
    .experience {
        // scroll-snap-align: start;
        background: $PRIMARY_COLOR;
        height: 100vh;
        width: 100%;
        color: #fff;
        padding: 50px 100px;
        @include respond(tab-port){
            height: 120vh;
            padding: 0;
            width: 100%;
        }
        
            .side {
                @include sidebyside;
                    
                    &.left{
                        padding: 50px;
                        // @include respond(tab-land){
                        //     padding: 0;
                        // }

                    
                    h2 {
                        color: $SECONDARY-COLOR;
                        font-size: 50px;
                        @include respond(tab-port){
                            font-size: 35px;
                        }
                        // @include respond(tab-land){
                        //     font-size: 30px;
                        // }

                        .next-line{
                            display: block;
                        }

                    }

                    p {
                        padding-top: 20px;
                        text-align: justify;
                        font-size: 18px;
                        @include respond(tab-port){
                            font-size: 15px;
                            text-align: justify;
                        }
                        // @include respond(tab-land){
                        //     font-size: 15px;
                        // }
                    }
                }
            }

            .side {
                @include sidebyside;
                @include respond(tab-port){
                    position: absolute;
                    width: 100%;
                    
                    
                }
                &.right{
                    padding: 10% 5%;
                    @include respond(tab-port){
                        padding: 40px;
                        
                    }

                img {
                    // max-width: 500px;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                    @include respond(tab-port){
                        width: 90%;
                        padding-top: 700px;
                    }
                    // @include respond(tab-port){
                    //     width: 90%;
                    // }
                    
                }
            }

            }
    }
 // EXPERIENCE-END   

    // WORKS
    .works {
        // scroll-snap-align: start;
        height: 100vh;
        margin: 100px;
        background: white;
        display: grid;
        grid-template-columns: auto auto auto;
        @include respond(tab-port){
           height: 80vh;
           margin: 0;
           
        }
        // @include respond(tab-land){
        //     height: 60vh;
        //     margin: 50px;
            
        //  }

        
        .section-works-inner1 {
           margin: 50px;
           @include respond(tab-port){
            margin: 50px 0px 20px 50px;
            
          }
        //   @include respond(tab-land){
        //     margin: 10px 20px;
            
        //   }
            
            h2 {
                margin-top: 200px;
                font-size: 50px;
                font-family: $FONT;
                color: $PRIMARY-COLOR;
                @include respond(phone){
                   font-size: 30px;
                   margin-top: 10px;
                   
                 }
                //  @include respond(tab-land){
                //     font-size: 20px;
                    
                //   }

            }

            p {
                padding-top: 20px;
                text-align: justify;
                color: #4b0069;
                margin-bottom: 50px;
                @include respond(phone){
                    font-size: 15px;
                    
                  }
                //   @include respond(tab-land){
                //     font-size: 15px;
                    
                //   }

            }

            button {
                @include button;

                &:hover {
                    @include hover;
                }
            }
        }

        .divider {
            border-left: 1px solid  $SECONDARY-COLOR;
            height: 730px;
            @include respond(tab-port){
                // grid: none;
                border-left: none;
                
              }
            //   @include respond(tab-land){
            //     max-height: 500px;
                
            //   }
        }

        .section-works-inner2 {
            position: relative;
            margin: 50px;
            @include respond(tab-port){
                position: absolute;
                margin: 200px 90px 0 50px;

            }
            // @include respond(tab-land){
            //     margin: 10px 90px 0 50px;

            // }


            h2 {
                margin-top: 200px;
                font-size: 50px;
                font-family: $FONT;
                color: $PRIMARY-COLOR;
                @include respond(tab-port){
                    font-size: 30px;
                    
                  }
                //   @include respond(tab-land){
                //     font-size: 20px;
                    
                //   }

            }

            p {
                padding-top: 15px;
                text-align: justify;
                color: #4b0069;
                margin-bottom: 50px;
                // @include respond(tab-land){
                //     font-size: 15px;
                    
                //   }

            }

            button {
                @include button;

                &:hover {
                    @include hover;
                }

            }
        }
    }


    // MESSAGE
    .message {
        // scroll-snap-align: start;
        color: black;
        height: 100vh;
        scroll-snap-align: start;
        @include respond(tab-port){
            color: rgb(130, 140, 150);
            height: 70vh;   
        }
        // @include respond(tab-land){
        //     height: 50vh;   
        // }
       

        .section-message-inner1 {
            @include respond(phone){
                margin-left: auto;
                margin-right: auto;
                width: 80%;
                 
            }
            
            h2 {
                text-align: center;
                font-size: 50px;
                color: $PRIMARY-COLOR;
                @include respond(phone){
                    font-size: 30px;
                    text-align: center;
                     
                }
                // @include respond(tab-land){
                //     font-size: 30px;
                //     text-align: center;
                     
                // }

            }

            p {
                text-align: center;
                font-size: 25px;
                color: #4b0069;
                @include respond(phone){
                    font-size: 15px;
                    text-align: center;
                     
                }
                // @include respond(tab-land){
                //     font-size: 15px;
                //     text-align: center;
                     
                // }
            }

        }

        .section-message-form {
            border-radius: 5px;
            padding: 20px;
            height: 100vh;

            form {
            margin: 50px;
            @include respond(phone){
                margin: 30px;
                 
            }

                .field {
                    // float: left;
                    width: 100%;

                    input {
                        width: 100%;
                        padding: 12px;
                        border-radius: 4px;
                        resize: vertical;
                    }
                    
                }

                .email {
                    // float: right;
                    width: 100%;
                    padding-top: 20px;

                    input {
                        width: 100%;
                        padding: 12px;
                        border-radius: 4px;
                        resize: vertical;
                    }
                    
                }

                .message-box {
                    width: 100%;
                    padding-top: 20px;

                    textarea {
                        width: 100%;
                        padding: 12px;
                        border-radius: 4px;
                        resize: vertical;
                        min-height: 9em;
                    }
                    
                }

                button {
                    @include button;
                    margin-top: 15px;
                    @include respond(phone){
                        margin-top: 30px;
                         
                    }
                    // @include respond(tab-land){
                    //     margin-top: 30px;
                         
                    // }
                    
        
                    &:hover {
                        @include hover;
                    }
        
                }

            }
        }
    }
    // MESSAGE-END

    .btnColor{
        color: white;
        text-decoration: none;
    }

}
