.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-image: $HERO_COLOR;
    color: rgb(255, 255, 255);
    padding: 20px 60px;
    @include respond(tab-port){
        background: $PRIMARY_COLOR;
    }

    /* LOGO */
    .logo {
        font-size: 30px;

        img {
            width: 20%;
        }
    }

    // .nav-links{
        
    //    }
       .menu {
        display: flex;
        gap: 1em;
        font-size: 18px;
        @include respond(tab-port) {
            display:none;
            position: absolute;
            background-color:$SECONDARY_COLOR;
            right: 0;
            left: 0;
            text-align: center;
            padding: 16px 0;

        }

        li{
            padding: 5px 14px;
            list-style: none;

            a {
                color: rgb(255, 255, 255);
                padding: 10px;
                @include respond(tab-port){
                    padding: 10px;
                }

                &:hover{
                    background-color: $PRIMARY_COLOR;
                    border-radius: 10px;
                    transition: 0.3s ease;
                    
                    @include respond(tab-port){
                        display: inline-block;
                        background-color:$PRIMARY_COLOR;
                        transition: 0.3s ease;
                        transform: scale(1.3);
                        cursor: pointer;

                    }
                }
            }
        }
        .services {
            position: relative; 

            .dropdown {
                background-color: $PRIMARY_COLOR;
                padding: 1em 0;
                position: absolute; /*WITH RESPECT TO PARENT*/
                display: none;
                border-radius: 8px;
                top: 35px;
                @include respond(tab-port){
                    left: 50%;
                    top: 30px;
                    transform: translateX(35%);
                }

                li{
                    padding: 0.5em 1em;
                    width: 8em;
                    text-align: center;

                    &:hover{
                        background-color: #dcdcb3;
                        @include respond(tab-port){
                            background-color: #f2f2a1;
                        }
                    }
                }
            }
            &:hover {
                .dropdown{
                    display: block;
                    
                }
                
               }
        }

        
       }
       .hamburger {
        display: none;
        font-size: 24px;
        user-select: none;
        @include respond(tab-port){
            display: block;
        }
       }
}
input[type=checkbox]{
    display: none;
   } 

   /* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    
    input[type=checkbox]:checked ~ .menu{
     display: block;
    }

    .menu li + li {
        margin-top: 12px;
       }
}