$FONT: "Montserrat", sans-serif;
$PRIMARY_COLOR: #5605a1;
$SECONDARY_COLOR: #d274f8;
$text_color1: white;
$TEXT_COLOR: #d274f8;
$BTN: #4a55e8;
$HERO_COLOR: linear-gradient(90deg, #5605a1 67%, #d274f8 33%);
$HERO_COLOR_H: linear-gradient(180deg, #5605a1 50%, #d274f8 50%);
$head: rgb(120, 120, 120);
